*.pyc
*.swp
*.orig
*.DS_Store
.Python
db/
fish_venv/
wind/blog_wind/migrations/
wind/media/
wind/wind/local_settings.py
wind/wind/live_settings.py
wind/wind/static/
wind/posts/
wind/temp/
wind/static/webfonts/
