{% extends "base.html" %}

{% block title %}About Brian{% endblock %}

{% block main %}
{% load thumbnail %}
    <article id="about-brian">
        {% thumbnail "http://d3ry2ziyu0wa1k.cloudfront.net/images/brian.jpg" "253x300" crop="center"  as im %}
            <img id="brian-picture" alt="Brian at North Cascades NP" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></img>
        {% endthumbnail %}
        <p>I'm a web developer and co-founder at <a class="article-link" href="https://www.gigsmash.com">Gigsmash</a>.</p>
        <p>I mostly use Python and JavaScript, and love working with both (though I'm always playing with new stuff).</p>
        <p>We haven't been able to gain much traction with Gigsmash, so I'm currently looking to join a new team in the New York area. You can find my resume <a class="article-link" href="{% url resume %}">here</a>.</p>
        <p>Some non-programming stuff I like: travel, nature, climbing, reading, hiking, photography, art.</p>
    </article>
{% endblock %}
