{% extends "base.html" %}

{% block title %}About Brian{% endblock %}

{% block main %}
{% load thumbnail %}
    <article id="about-brian">
        {% thumbnail "http://d3ry2ziyu0wa1k.cloudfront.net/images/brian.jpg" "253x274" crop="center"  as im %}
            <img id="brian" alt="Brian at North Cascades NP" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></img>
        {% endthumbnail %}
        <p>I'm a web developer and co-founder at <a href="https://www.gigsmash.com">Gigsmash</a>.</p>
        <p>Some stuff I like: travel, nature, climbing, reading, hiking, thinking, art</p> 
        <p>Some questions I like: What makes something funny? Why are the acts that we call inhumane only ever performed by humans? Why do people refer to the parts of their lives they dislike as 'the real world'? Why do I like these questions?</p>
    </article>
{% endblock %}
