<!doctype html>
<html lang="en">
    <meta name="description" content="Brian Holdefehr's thoughts and photos.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Brian Holdefehr{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon-brian.ico">

    {% comment %}
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon.png">

    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/apple_touch/apple-touch-icon-114x114-precomposed.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/apple_touch/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple_touch/apple-touch-icon-precomposed.png">
    {% endcomment %}
    <script type="text/javascript" src="http://use.typekit.com/drj6uxj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% if debug %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% else %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style-e10415b5ade718c37c16d7f6131000c8.css">
    {% endif %}
</head>

<body>

    <header id="header" class="clearfix">
        <div class="container">
            <a id="header-title" href="{% url home %}">Brian Holdefehr</a>

            <nav id="nav">
                <a class="nav_link" href="{% url about %}">About</a>
                <a class="nav_link" href="{% url writing %}">Writing</a>
                <a class="nav_link" href="{% url galleries %}">Photos</a>
                <a class="nav_link" href="mailto:bhold45@gmail.com">Contact</a>
            </nav>

            <ul id="social">
                <li><a href="https://twitter.com/BrianHoldefehr"><span id="twitter-icon"></span></a></li>
                <li><a href="https://github.com/BHold"><span id="github-icon"></span></a></li>
                <li><a href="{% url feed %}"><span id="rss-icon"></span></a></li>
            </ul>
        </div>
    </header>

    <div id="main" role="main" class="container">
        {% block main %}{% endblock %}
    </div>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36952408-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>
