<!doctype html>
<html lang="en">
    <meta name="description" content="{% block meta %}{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Fish in the Wind by Brian Holdefehr{% endblock %}</title>

    {% comment %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/gigsmash_favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon.png">

    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/apple_touch/apple-touch-icon-114x114-precomposed.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/apple_touch/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple_touch/apple-touch-icon-precomposed.png">
    {% endcomment %}
    <script type="text/javascript" src="http://use.typekit.com/drj6uxj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endcompress %}

</head>

<body>

    <div id="container" class="clearfix">
        <header id="header">
            <div id="pic"></div>
            <h2><a href="{% url home %}">Fish in the Wind</a></h2>

            <nav id="nav">
                <p><a href="{% url writing %}">Writing</a></p>
                <p><a href="{% url galleries %}">Photos</a></p>
                <p><a href="{% url about %}">About</a></p>
            </nav>

            <div id="links">
                <p id="twitter"><a href="https://twitter.com/BrianHoldefehr"><span id="twitter-icon"></span>@BrianHoldefehr</a></p>
                <p id="rss"><a href="{% url feed %}"><span id="rss-icon"></span>RSS Feed</a></p>
            </div>
        </header>

        <div id="main" role="main">
            {% block main %}{% endblock %}
        </div>
    </div>

    {% comment %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{ STATIC_URL }}cloudfront/jquery-1.7.1.min.js'>\x3C/script>")</script>

    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29068316-1']);
    _gaq.push(['_setDomainName', 'www.gigsmash.com']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();;
    </script>
    {% endcomment %}

</body>
</html>
