{% extends "base.html" %}

{% block main %}
{% load thumbnail %}
{% load gallery_tags %}
    
    {% regroup galleries by publish_at|date:"F, Y" as galleries_by_month %}

    <ol id="month-list">
        {% for month in galleries_by_month %}
            <li class="month">{{ month.grouper }}
            <ol class="gallery-list clearfix">
                {% for gallery_post in month.list %}
                    <li class="gallery-preview">
                        <p class="gallery-title"><a href="{{ gallery_post.get_absolute_url }}">{{ gallery_post.title }}</a></p>
                        {% with photo=gallery_post.gallery.photos.all|random_image %}
                            {% thumbnail photo.image "320" as im %}
                            <a href="{{ gallery_post.get_absolute_url }}"><img class="gallery-preview-img" alt="{{ photo.title }}" src="{{ MEDIA_URL }}{{ im }}" width="{{ im.width }}" height="{{ im.height }}"></img></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </li>
                {% endfor %}
            </ol>
            </li>
        {% endfor %}
    </ol>

{% endblock %}
