{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block main %}

{% load thumbnail %}

    <article class="article article--individual">
        <p class="date">{{ post.publish_at|date:"F j, Y" }}</p>
        <h2 class="article-title"><a class="article-title_link" href="{% url post post.slug %}">{{ post.title }}</a></h2>
        <div class={% if post.body_highlighted %}post-body-spacing{% endif %}>
            {{ post.body_highlighted|safe }}
        </div>
        {% if post.gallery %}
            <div class="gallery">
            {% for photo in post.gallery.photos.all %}
                {% thumbnail photo.image "748" as im %}
                <img class="gallery-img{% if im.height > im.width %} vertical{% endif %}" alt="{{ photo.title }}" src="{{ MEDIA_URL }}{{ im }}" width="{{ im.width }}" height="{{ im.height }}"></img>
                {% endthumbnail %}
            {% endfor %}
            </div>
        {% endif %}
    </article>

{% endblock %}
