{% extends "base.html" %}

{% block title %}My Resume{% endblock %}

{% block main %}

    <article id="resume">
        <div id="resume-header">
            <h2>BRIAN<br />HOLDEFEHR</h2>
            <p><span id="res-email">bhold45@gmail.com</span> (201) 306-5033</p>
        </div>

        <h3>SUMMARY</h3>
            <p>I am a self-taught full stack web developer. I love learning new technologies and putting them into action. My first attempt at a startup, Gigsmash, hasn't gained much traction so I'm interested in joining another project.</p>

        <h3>EXPERIENCE</h3>
            <p><b>Gigsmash LLC</b>, Co-founder, 2011 - Present (<a href="www.gigsmash.com">www.gigsmash.com</a>)</p>

            <p>Gigsmash is a local live music search engine. It helps people to find shows in their area by letting them filter our listings, vote for their favorites, and listen to the band's music before they go.</p>
            <p>I've worked on any and everything at Gigsmash. I've helped build the back-end, design the front-end, build the mobile version, plan the user experience, and market the project.</p>

        <h3>SKILLS</h3>

            <div class="clearfix">
                <ul>
                <li>Python</li>
                <li>Django</li>
                <li>Mercurial</li>
                </ul>

                <ul>
                <li>JavaScript</li>
                <li>Backbone.js</li>
                <li>jQuery</li>
                </ul>

                <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>GIMP</li>
                </ul>
            </div>

        <h3>EDUCATION</h3>
            <p>University of Delaware, 2004-2008, Finance with a minor in Economics<br />
            <i>Magna Cum Laude</i></p>

        <h3>ABOUT ME</h3>
            <p>Prior to discovering my love for web development, I supported myself through online poker. Winning at poker requires accurate pattern recognition, quick decision making, staying calm under pressure, and a dedication to learning.</p>
            <p>My interests include travel and the outdoors. I have taken extended trips to Australia and New Zealand, Peru and Bolivia, and the American West. I enjoy hiking, climbing, photography, and generally exploring the world.</p>

    </article>

{% endblock %}
