/* General */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: "museo-sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #444;
}

.container {
    width: 750px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#main {
    margin-top: 35px;
}

/* End General */

/* Header */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 7px 0;
    opacity: 0.93;
}

#header-title {
    color: #bbb;
    font-size: 24px;
    float: left;
    font-family: "bello-pro", Arial, sans-serif;
    position: relative;
    top: 2px;
}

#header-title:hover, #header-title:focus {
    color: #999;
}

#nav {
    float: right;
}

.nav_link {
    color: #bbb;
    font-size: 18px;
    margin-left: 6px;
    font-family: "proxima-nova", Arial, sans-serif;
    font-weight: 600;
}

.nav_link:hover, .nav_link:focus {
    color: #999;
}

#social {
    list-style: none;
    position: relative;
    float: left;
}

#rss-icon {
    position: absolute;
    top: 8px;
    left: 96px;
    height: 17px;
    width: 17px;
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') 0 0 no-repeat;
    -webkit-background-size: 63px 48px;
    -moz-background-size: 63px 48px;
    -o-background-size: 63px 48px;
    background-size: 63px 48px;
}

#github-icon {
    position: absolute;
    top: 4px;
    left: 62px;
    height: 24px;
    width: 24px;
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -40px 0 no-repeat;
    -webkit-background-size: 63px 48px;
    -moz-background-size: 63px 48px;
    -o-background-size: 63px 48px;
    background-size: 63px 48px;
}

#twitter-icon {
    position: absolute;
    top: 6px;
    left: 32px;
    height: 21px;
    width: 21px;
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -18px 0 no-repeat;
    -webkit-background-size: 63px 48px;
    -moz-background-size: 63px 48px;
    -o-background-size: 63px 48px;
    background-size: 63px 48px;
}

#rss-icon:hover, #rss-icon:focus {
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') 0 -18px no-repeat;
    -webkit-background-size: 63px 49px;
    -moz-background-size: 63px 49px;
    -o-background-size: 63px 49px;
    background-size: 63px 49px;
}

#twitter-icon:hover, #twitter-icon:focus {
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -18px -22px no-repeat;
    -webkit-background-size: 63px 49px;
    -moz-background-size: 63px 49px;
    -o-background-size: 63px 49px;
    background-size: 63px 49px;
}

#github-icon:hover, #github-icon:focus {
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -40px -25px no-repeat;
    -webkit-background-size: 63px 49px;
    -moz-background-size: 63px 49px;
    -o-background-size: 63px 49px;
    background-size: 63px 49px;
}


/* End Header */

/* Home and Posts */

.article {
    padding: 25px 0 30px 0;
    border-bottom: 1px solid #ddd;
}

.article--individual {
    border-bottom: none;
}

.article p {
    margin: 30px 0;
}

.article-title {
    margin: 50px 0 35px 0;
}

.article-title_link {
    font-family: "ff-nuvo-web-pro", Arial, sans-serif;
    color: #333;
    font-size: 36px;
    font-weight: 700;
}

.article-title_link:hover, .article-title_link:focus {
    color: #111;
}

.article-link {
    color: #66f;
    font-weight: 700;
}

.article-link:hover, .article-link:focus {
    color: #44f;
}

.article-link:visited {
    color: #c17ded;
}

.date {
    color: #999;
    font-family: "ff-nuvo-web-pro", Arial, sans-serif;
    font-weight: 700;
}

.post-body-spacing {
    margin-bottom: 35px;
}

.gallery {
    padding-top: 10px;
}

.gallery-img, .gallery-preview-img {
    border: 1px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* End Home and Posts */

/* Pagination */

#pagination {
    height: 113px;
}

#older, #newer {
    padding: 10px 15px;
    position: relative;
    top: 31px;
    left: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    border: 3px solid #bbb;
    color: #888;
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eee));
    background-image: -webkit-linear-gradient(top, #fbfbfb, #eee);
    background-image: -moz-linear-gradient(top, #fbfbfb, #eee);
    background-image: -ms-linear-gradient(top, #fbfbfb, #eee);
    background-image: -o-linear-gradient(top, #fbfbfb, #eee);
    float: left;
}

#older {
    float: right;
    left: -30px;
}

#older:hover, #newer:hover, #older:focus, #newer:focus {
    border: 3px solid #aaa;
    color: #666;
}

#older:active, #newer:active {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #eee;
    padding: 11px 14px 9px 16px;
}

/* End Pagination */

/* Archives */

#month-list {
    padding: 50px 0;
    list-style: none;
}

.writing-list {
    padding: 12px 20px;
    list-style: none;
}

.month {
    font-family: "ff-nuvo-web-pro", Arial, sans-serif;
    font-weight: 700;
    color: #999;
}

.writing-title_link, .gallery-title_link {
    font-family: "museo-sans", Arial, sans-serif;
    font-weight: 700;
    color: #555;
}

.writing-title_link:hover, .writing-title_link:focus, .gallery-title_link:focus, .gallery-title_link:hover {
    color: #333;
}

.gallery-list {
    list-style: none;
    padding-bottom: 50px;
}

.gallery-preview {
    padding-top: 15px;
    width: 350px;
    text-align: center;
    float: left;
}

.gallery-preview--odd {
    margin-right: 50px;
}

.gallery-preview:hover .gallery-title_link {
    color: #111;
}
.gallery-title {
    padding-bottom: 7px;
}

/* End Archives */

/* About */

#about-brian {
    padding-top: 50px;
    font-size: 18px;
}

#about-brian p {
    margin-bottom: 22px;
}

#brian-picture {
    margin: 0 50px 50px 0;
    border: 1px solid #666;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    float: left;
}

/* End About */

/* Resume */

#resume {
    padding: 40px 0;
    line-height: 28px;
}

#resume p {
    margin: 18px 0;
}

#resume-header {
    font-size: 22px;
    text-align: right;
    margin-bottom: 35px;
}

.address-phone {
    font-size: 21px;
    position: relative;
    top: -6px;
}

.resume-name {
    color: #333;
    font-size: 62px;
    font-family: "ff-enzo-web", Arial, sans-serif;
    font-weight: 900;
    line-height: .95em;
}

#res-email {
    padding-right: 10px;
}

#resume ul {
    list-style: none;
    width: 230px;
    float: left;
}

#resume h3 {
    margin: 22px 0;
    font-size: 24px;
    color: #444;
}

/* End Resume */

/* Get rid of TypeKit badge */

.typekit-badge {
    display: none !important;
}
/* End Typekit */

/* Clearfix */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* End Clearfix */

/* Mobile Styles */
@media only screen and (max-device-width: 480px) {

    /* General */

    #main {
        padding: 0 20px;
        margin: 0;
    }

    .container {
        width: 100%;
        overflow-x: hidden;
    }

    /* End General */

    /* Header */

    #header {
        text-align: center;
        position: inherit;
        height: inherit;
        width: inherit;
    }

    #header-title {
        float: none;
        display: block;
    }

    #nav {
        float: none;
    }

    #social {
        display: none;
    }

    /* End Header */

    /* Home and Posts */
    .article {
        padding: 0;
    }

    .article-title {
        margin: 30px 0 25px 0;
    }

    .gallery {
        text-align: center;
    }

    .gallery-img {
        width: 240px;
        height: 160px;
    }

    .vertical {
        height: 360px;
    }

    /* End Home and Posts */

    /* Archives */

    #month-list {
        padding: 20px 0;
    }

    .gallery-preview {
        width: 100%;
    }

    .gallery-preview-img {
        width: 240px;
        height: 160px;
    }

    /* End Archives */

    /* Resume */

    #resume-header {
        text-align: center;
    }

    .resume-name {
        font-size: 40px;
    }

    #resume ul {
        width: 100%;
    }

    /* End Resume */

    /* About */

    #brian-picture {
        display: none;
    }

    /* End About */
}
