/* General */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    color: #444;
    font: 300 19px/1.5 "museo-sans", Arial, sans-serif;
}

.container {
    width: 750px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#main {
    margin-top: 35px;
}

/* End General */

/* Header */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 7px 0;
    opacity: 0.93;
}

#header-title {
    color: #bbb;
    float: left;
    position: relative;
    top: 2px;
    font: 24px/1.5 "bello-pro", Arial, sans-serif;
}

#header-title:hover, #header-title:focus {
    color: #999;
}

#nav {
    margin-top: 4px;
    float: right;
}

.nav_link {
    color: #bbb;
    margin-left: 6px;
    font-weight: 700;
    font-size: 17px;
}

.nav_link:hover, .nav_link:focus {
    color: #999;
}

#social {
    list-style: none;
    position: relative;
    float: left;
}

#rss-icon {
    position: absolute;
    top: 10px;
    left: 96px;
    height: 17px;
    width: 17px;
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') 0 0 no-repeat;
    -webkit-background-size: 63px 48px;
    -moz-background-size: 63px 48px;
    -o-background-size: 63px 48px;
    background-size: 63px 48px;
}

#github-icon {
    position: absolute;
    top: 6px;
    left: 62px;
    height: 24px;
    width: 24px;
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -40px 0 no-repeat;
    -webkit-background-size: 63px 48px;
    -moz-background-size: 63px 48px;
    -o-background-size: 63px 48px;
    background-size: 63px 48px;
}

#twitter-icon {
    position: absolute;
    top: 8px;
    left: 32px;
    height: 21px;
    width: 21px;
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -18px 0 no-repeat;
    -webkit-background-size: 63px 48px;
    -moz-background-size: 63px 48px;
    -o-background-size: 63px 48px;
    background-size: 63px 48px;
}

#rss-icon:hover, #rss-icon:focus {
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') 0 -18px no-repeat;
    -webkit-background-size: 63px 49px;
    -moz-background-size: 63px 49px;
    -o-background-size: 63px 49px;
    background-size: 63px 49px;
}

#twitter-icon:hover, #twitter-icon:focus {
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -18px -22px no-repeat;
    -webkit-background-size: 63px 49px;
    -moz-background-size: 63px 49px;
    -o-background-size: 63px 49px;
    background-size: 63px 49px;
}

#github-icon:hover, #github-icon:focus {
    background: url('http://d3ry2ziyu0wa1k.cloudfront.net/images/header-sprite.png') -40px -25px no-repeat;
    -webkit-background-size: 63px 49px;
    -moz-background-size: 63px 49px;
    -o-background-size: 63px 49px;
    background-size: 63px 49px;
}


/* End Header */

/* Home and Posts */

.article {
    padding: 25px 0 30px 0;
    border-bottom: 1px solid #ddd;
}

.article--individual {
    border-bottom: none;
}

.article p {
    margin: 30px 0;
}

.article-title {
    margin: 50px 0 35px 0;
}

.article-title_link {
    color: #333;
    font: 700 36px/1.25 "ff-nuvo-web-pro", Arial, sans-serif;
}

.article-title_link:hover, .article-title_link:focus {
    color: #111;
}

.section-header {
    color: #333;
    font: 700 25px/1.25 "ff-nuvo-web-pro", Arial, sans-serif;
    margin: 37px 0;
}

.article-link {
    color: #66f;
    font-weight: 700;
}

.article-link:hover, .article-link:focus {
    color: #44f;
}

.article-link:visited {
    color: #c17ded;
}

.date {
    color: #999;
    font-family: "ff-nuvo-web-pro", Arial, sans-serif;
    font-weight: 700;
}

.def {
    font-style: italic;
    font-weight: 300;
    margin: 35px 0;
    padding-left: 30px;
}

dfn {
    font-weight: 500;
}

.article-list {
    margin-left: 35px;
}

.article-list p {
    margin: 15px 0;
}

.post-body-spacing {
    margin-bottom: 35px;
}

.gallery {
    padding-top: 10px;
}

.gallery-img, .gallery-preview-img {
    border: 1px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* End Home and Posts */

/* Pagination */

#pagination {
    height: 113px;
}

#older, #newer {
    padding: 10px 15px;
    position: relative;
    top: 31px;
    left: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    border: 3px solid #bbb;
    color: #888;
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eee));
    background-image: -webkit-linear-gradient(top, #fbfbfb, #eee);
    background-image: -moz-linear-gradient(top, #fbfbfb, #eee);
    background-image: -ms-linear-gradient(top, #fbfbfb, #eee);
    background-image: -o-linear-gradient(top, #fbfbfb, #eee);
    float: left;
}

#older {
    float: right;
    left: -30px;
}

#older:hover, #newer:hover, #older:focus, #newer:focus {
    border: 3px solid #aaa;
    color: #666;
}

#older:active, #newer:active {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #eee;
    padding: 11px 14px 9px 16px;
}

/* End Pagination */

/* Archives */

#month-list {
    padding: 50px 0;
    list-style: none;
}

.writing-list {
    padding: 12px 20px;
    list-style: none;
}

.month {
    font-family: "ff-nuvo-web-pro", Arial, sans-serif;
    font-weight: 700;
    color: #999;
}

.writing-title_link, .gallery-title_link {
    font-family: "museo-sans", Arial, sans-serif;
    font-weight: 700;
    color: #555;
}

.writing-title_link:hover, .writing-title_link:focus, .gallery-title_link:focus, .gallery-title_link:hover {
    color: #333;
}

.gallery-list {
    list-style: none;
    padding-bottom: 50px;
}

.gallery-preview {
    padding-top: 15px;
    width: 350px;
    text-align: center;
    float: left;
}

.gallery-preview--odd {
    margin-right: 50px;
}

.gallery-preview:hover .gallery-title_link {
    color: #111;
}
.gallery-title {
    padding-bottom: 7px;
}

/* End Archives */

/* About */

#about-brian {
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.65;
}

#about-brian p {
    margin-bottom: 22px;
}

#brian-picture {
    margin: 0 50px 50px 0;
    border: 1px solid #666;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    float: left;
}

/* End About */

/* Resume */

#resume {
    padding: 40px 0;
    line-height: 28px;
}

#resume p {
    margin: 18px 0;
}

#resume-header {
    text-align: right;
    margin-bottom: 35px;
}

.address-phone {
    font-size: 21px;
    position: relative;
    top: -6px;
}

.resume-name {
    color: #333;
    font: 900 62px/.95 "ff-enzo-web", Arial, sans-serif;
}

#res-email {
    padding-right: 10px;
}

#resume ul {
    list-style: none;
    width: 230px;
    float: left;
}

#resume h3 {
    margin: 22px 0;
    font-size: 24px;
    color: #444;
}

/* End Resume */

/* Clearfix */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* End Clearfix */

/* Code */

code {
    display: inline-block;
    color: #555;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 3px;
    font: .85em/1.5 Menlo, Monaco, Courier, monospace;
}

.highlight {
    background-color: #fdf6e3;
    margin: 30px auto;
    padding: 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    font: 15px/1.4 Menlo, Monaco, Courier, monospace;
}

/* Code Syntax Styles: Solarized Light */

/* Text */
.highlight .t   { color: #586e75 }

/* Whitespace */
.highlight .w   { color: #073642 }

/* Error */
.highlight .err { color: #cb4b16; }

/* Keyword */
.highlight .k   { color: #859900 }
.highlight .kc  { color: #2aa198 } /* Keyword.Constant */
.highlight .kd  { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn  { color: #b58900 } /* Keyword.Namespace */
.highlight .kp  { color: #859900 } /* Keyword.Pseudo */
.highlight .kr  { color: #073642 } /* Keyword.Reserved */
.highlight .kt  { color: #b58900 } /* Keyword.Type */

/* Name */
.highlight .n   { color: #586e75 }
.highlight .na  { color: #2aa198 } /* Name.Attribute */
.highlight .nb  { color: #268bd2 } /* Name.Builtin */
.highlight .nc  { color: #268bd2 } /* Name.Class */
.highlight .ne  { color: #cb4b16 } /* Name.Error */
.highlight .no  { color: #2aa198 } /* Name.Constant */
.highlight .nd  { color: #2aa198 } /* Name.Decorator */
.highlight .ni  { color: #2aa198; font-weight: bold } /* Name.Entity */
.highlight .nf  { color: #268bd2 } /* Name.Function */
.highlight .nn  { color: #586e75; } /* Name.Namespace */
.highlight .nt  { color: #2aa198; font-weight: bold } /* Name.Tag */
.highlight .nv  { color: #cb4b16 } /* Name.Variable */

/* Builtin */
.highlight .b   { color: #859900 }
.highlight .bp  { color: #586e75 } /* Name.Builtin.Pseudo */

/* Variable */
.highlight .v   { color: #586e75 }
.highlight .vc  { color: #586e75 } /* Name.Variable.Class */
.highlight .vg  { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi  { color: #268bd2 } /* Name.Variable.Instance */

/* Literal */

/* Literal.Number */
.highlight .m { color: #268bd2 } /* Literal.Number */
.highlight .mf { color: #268bd2 } /* Literal.Number.Float */
.highlight .mh { color: #268bd2 } /* Literal.Number.Hex */
.highlight .mi { color: #268bd2 } /* Literal.Number.Integer */
.highlight .mo { color: #268bd2 } /* Literal.Number.Oct */

/* Literal.String */
.highlight .s { color: #2aa198 }
.highlight .sb { color: #2aa198 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #2aa198 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #2aa198 } /* Literal.String.Heredoc */
.highlight .si { color: #cb4b16 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #cb4b16 } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #cb4b16 } /* Literal.String.Symbol */

/* Literal.Integer */
.highlight .il { color: #268bd2 } /* Literal.Number.Integer.Long */

/* Operator */
.highlight .o  { color: #586e75 }
.highlight .ow { color: #859900 } /* Operator.Word */

/* Punctuation */
.highlight .p  { color: #586e75 }

/* Comment */
.highlight .c { color: #93a1a1; font-style: italic }
.highlight .cm { color: #93a1a1; } /* Comment.Multiline */
.highlight .cp { color: #93a1a1 } /* Comment.Preproc */
.highlight .c1 { color: #93a1a1; } /* Comment.Single */
.highlight .cs { color: #93a1a1; } /* Comment.Special */

.highlight .hll { background-color: #dc322f }

/* Generic */
.highlight .g { color: #586e75 }
.highlight .gd { color: #586e75 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #586e75 } /* Generic.Error */
.highlight .gh { color: #586e75; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #586e75 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #586e75; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */

/* End Code */

/* Mobile device styles */
@media only screen and (max-device-width: 480px) {

    /* General */

    #main {
        padding: 0 20px;
        margin: 0;
    }

    .container {
        width: 100%;
        overflow-x: hidden;
    }

    /* End General */

    /* Header */

    #header {
        text-align: center;
        position: inherit;
        height: inherit;
        width: inherit;
    }

    #header-title {
        float: none;
        display: block;
    }

    #nav {
        float: none;
    }

    #social {
        display: none;
    }

    /* End Header */

    /* Home and Posts */
    .article {
        padding: 0;
    }

    .article-title {
        margin: 30px 0 25px 0;
    }

    .gallery {
        text-align: center;
    }

    .gallery-img {
        width: 240px;
        height: 160px;
    }

    .vertical {
        height: 360px;
    }

    /* End Home and Posts */

    /* Archives */

    #month-list {
        padding: 20px 0;
    }

    .gallery-preview {
        width: 100%;
    }

    .gallery-preview-img {
        width: 240px;
        height: 160px;
    }

    /* End Archives */

    /* Resume */

    #resume-header {
        text-align: center;
    }

    .resume-name {
        font-size: 40px;
        line-height: 1;
    }

    #resume ul {
        width: 100%;
    }

    /* End Resume */

    /* About */

    #brian-picture {
        display: none;
    }

    /* End About */

    /* Code */

    .highlight {
        padding: 6px 8px;
        font-size: 7px;
        line-height: 10px;
    }

    /* End Code */
}
