{% extends "base.html" %}

{% block title %}About Brian{% endblock %}

{% block main %}
{% load thumbnail %}
    <article class="about l-about">
        {% thumbnail "http://d3ry2ziyu0wa1k.cloudfront.net/images/brian-pic.jpg" "255x305" crop="center"  as im %}
            <img class="about-picture l-about-picture" alt="Brian at North Cascades NP" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
        <div class="l-about-text">
            <p>I'm a software engineer at Google.</p>
            <p>It would seem I don't post much here! I mean to change that. When I do post it will most likely be about technology, questionable ways of thinking, and other things I'm not particularly qualified to comment upon.</p>
            <p>I'm always trying to learn. Reading is great, but perhaps writing is better. If you write something down it forces you to make your own thoughts somewhat coherent.</p>
        </div>
    </article>
{% endblock %}
