{% extends "base.html" %}

{% block title %}Brian's Photos{% endblock %}

{% block main %}
{% load thumbnail %}
{% load gallery_tags %}

    {% regroup galleries by publish_at|date:"F, Y" as galleries_by_month %}

    <ol class="month-list">
        {% for month in galleries_by_month %}
            <li class="month">{{ month.grouper }}
            <ol class="gallery-list clearfix">
                {% for gallery_post in month.list %}
                    <li class="gallery-preview l-gallery-preview{% if not forloop.counter|divisibleby:2 %} l-gallery-preview--odd{% endif %}">
                        <p class="gallery-title"><a class="gallery-title-link" href="{{ gallery_post.get_absolute_url }}">{{ gallery_post.title }}</a></p>
                        {% with photo=gallery_post.gallery.photos.all|random_image %}
                            {% thumbnail photo.image "348x232" as im %}
                            <a href="{{ gallery_post.get_absolute_url }}"><img class="gallery-preview-img" alt="{{ photo.title }}" src="{{ MEDIA_URL }}{{ im }}" width="{{ im.width }}" height="{{ im.height }}" /></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </li>
                {% endfor %}
            </ol>
            </li>
        {% endfor %}
    </ol>

{% endblock %}
