{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block main %}

{% load thumbnail %}

    <article class="article l-article article--individual">
        <p class="date">{{ post.publish_at|date:"F j, Y" }}</p>
        <h2 class="article__title l-article__title"><a class="article__title-link" href="{% url post post.slug %}">{{ post.title|safe }}</a></h2>
        <div class="article-body{% if post.body_highlighted %} l-post-body-spacing{% endif %}">
            {{ post.body_highlighted|safe }}
        </div>
        {% if post.gallery %}
            <div class="gallery">
            {% for photo in post.gallery.photos.all %}
                {% thumbnail photo.image "748" as im %}
                <img class="gallery-img{% if im.height > im.width %} vertical{% endif %}" alt="{{ photo.title }}" src="{{ MEDIA_URL }}{{ im }}" width="{{ im.width }}" height="{{ im.height }}" />
                {% endthumbnail %}
            {% endfor %}
            </div>
        {% endif %}
    </article>

    <div class="post-social-links l-post-social-links">
        <a class="ss-twitter ss-social-circle post-social-link l-post-social-link" href="https://twitter.com/BrianHoldefehr"></a><a
          class="ss-rss ss-social-circle post-social-link l-post-social-link" href="{% url feed %}"></a>{% if SHOW_GITHUB %}<a
          class="ss-octocat ss-social-circle post-social-link l-post-social-link" href="https://github.com/BHold"></a>{% endif %}<a
        class="ss-mail ss-social-circle post-social-link l-post-social-link" href="mailto:bhold45@gmail.com"></a>
    </div>

{% endblock %}
