{% extends "base.html" %}

{% block title %}My Resume{% endblock %}

{% block main %}

    <article class="resume l-resume">
        <div class="resume-header l-resume-header">
            <h2 class="resume-name">BRIAN<br />HOLDEFEHR</h2>
            <p class="address-phone l-address-phone"><span class="res-email">bhold45@gmail.com</span> (201) 306-5033</p>
        </div>

        <h3 class="resume-section-header">SUMMARY</h3>
            <p>I am a full stack developer. I love learning new technologies and putting them into action. I'm most experienced with Python and Javascript, but I'm always trying to expand my knowledge base.
        <h3 class="resume-section-header">EXPERIENCE</h3>
            <p><strong>Keep</strong>, Full Stack Developer, April 2013 &mdash; Present (<a class="article-link" href="http://keep.com">www.keep.com</a>)</p>
            <p>At Keep I've worked on a wide array of features. I've ranged from SQL data modeling, to working on our web crawler, to implementing web front-end features and designs.</p>
            <p>Some features I've made sizable contributions to include: the promotional and activity email system, the in-app notification system, the sign-up flow, the social contest feature, the '@mention' system, and price alerting.</p>
            <p>I also spent a month working on the iOS project. So I have a some understanding of that ecosystem, but not a whole lot. Most recently I've begun working on supervised learning classifiers to try and determine if a given URL represents a product, and if so, if it is currently available.</p>
            <p><strong>Gigsmash</strong>, Co-founder, 2011 &mdash; 2013</p>

            <p>Gigsmash was a local live music search engine. It helped people find shows in their area by letting them filter local listings, vote for their favorites, and listen to the band's music before they went. Shows were displayed in both list and map format.</p>
            <p>I worked on any and everything at Gigsmash. I helped build the back-end, design the front-end, build the mobile version, plan the user experience, and market the project.</p>

        <h3 class="resume-section-header">SKILLS</h3>

            <div class="clearfix">
                <ul class="resume-skill-column">
                    <li>Python</li>
                    <li>Flask</li>
                    <li>Django</li>
                    <li>Git/Mercurial</li>
                </ul>

                <ul class="resume-skill-column">
                    <li>JavaScript</li>
                    <li>Backbone.js</li>
                    <li>D3.js</li>
                    <li>jQuery</li>
                </ul>

                <ul class="resume-skill-column">
                    <li>SQL</li>
                    <li>Redis</li>
                    <li>HTML</li>
                    <li>CSS/LESS</li>
                </ul>
            </div>

        <h3 class="resume-section-header">EDUCATION</h3>
            <p>University of Delaware &mdash; Finance with a minor in Economics<br />
            <i>Magna Cum Laude</i></p>

        <h3 class="resume-section-header">ABOUT ME</h3>
            <p>While working on Gigsmash, I also gained some education experience by working part-time as an SAT/ACT tutor. My tutoring was done one on one and I worked with students on both the math and verbal sections of the test.</p>
            <p>Prior to discovering my love for programming, I supported myself through online poker. Winning at poker requires accurate pattern recognition, quick decision making, staying calm under pressure, and a dedication to learning.</p>
            <p>My interests include travel and the outdoors. I have taken extended trips to Australia and New Zealand, Peru and Bolivia, and the American West. I enjoy hiking, climbing, photography, and generally exploring the world.</p>

    </article>

{% endblock %}
